{{ form_open({ request: 'onPost' }) }}
    {% flash %}
        <div class="alert alert-{{ type }}">{{ message }}</div>
    {% endflash %}
    <div class="form-group">
        <div class="form-control">
            <label for="question">Question</label>
            <div class="input-wrapper">
                <textarea name="question" id="question" placeholder="Question"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-control">
            <label for="email">Email</label>
            <div class="input-wrapper">
                <input type="text" name="email" id="email">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="columns jc-e">
            <div class="col-6">
                <button type="submit" class="button solid w-all">Send</button>
            </div>
        </div>
    </div>
    <!--<input type="text" value="Email" name="email">-->
    <!--<input type="submit" value="Send"/>-->
{{ form_close() }}
