@import '../../base';

.leaflet-control-zoom {
  a {
    text-indent: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: transparent;
  }
}

.circuits-list-page {

  .page-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.circuits-list {
  margin-top: 32px;
}

.map-container {
  height: 400px;
  background: #d6d6d6;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: $black;
  text-transform: uppercase;
}
