$gaps: (
  mini: 5px,
  small: 10px,
  medium: 15px,
  regular: 20px,
  main: 24px,
  normal: 30px,
  big: 40px,
);

$mat-transition-time: ' .28s';

$mat-elevation: 0 10px 17px 0 rgba(43, 45, 66, 0.1);