@import '../../base';

.location-page {

  .location-logo {
    width: 133px;
    height: 133px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
  
  .page-header {
    margin-bottom: map-get($gaps, small);
  }
  
  .page-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .location-description {
    width: 100%;
  }

  .location-variants {
    width: 100%;
    margin-top: 32px;
  }

  .location-address {
    color: map-get($gray, 500);
    line-height: 1.25;
    font-size: map-get($font-size, main);
    margin-top: 12px;
  }

  .location-form {
    padding: 24px;
    border: map-get($border, gray);
    border-radius: map-get($border-radius, main);
    margin-bottom: map-get($gaps, regular);
  }

  .location-weather {
    margin-bottom: map-get($gaps, regular);
  }

  .location-video {}
}


.location-gallery {
  height: 175px;
  width: 100%;
  margin-top: map-get($gaps, main);

  .gallery {
    width: 100%;
    display: flex;
    margin: 0 - map-get($gaps, mini);
  }

  .location-gallery--item {
    padding: 0 map-get($gaps, mini);

    &:nth-child(1n+4) {

      .location-gallery--link {
        position: relative;

        &.more {
          &::after {
            content: '+'attr(data-left)' photos';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(map-get($gray, 700), .4);
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: mat-transition(background);
          }

          &:hover {
            &::after {
              background: rgba(map-get($gray, 700), .8);
            }
          }
        }
      }

      &:nth-child(1n+5) {
        display: none;
      }
    }
  }

  .location-gallery--link {
    height: 175px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: map-get($breakpoints, desktop) - 1) {
  .location-page {
    .page-header {
      flex-wrap: wrap;
    }
    .location-logo {
      width: 100%;
    }
    .gallery {
      margin: 0;
      width: 100%;
      overflow-y: scroll;
      display: grid;
      grid-template: 1fr / repeat(4, 1fr);
      grid-gap: map-get($gaps, small);
    }
    .location-gallery--item {
      padding: 0;
    }
  }
}

.lg-backdrop.in {
  z-index: 10400;
}

.lg-outer {
  z-index: 10500 !important;
}
