[viewBag]
==
{% if breadcrumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ 'home'|page }}">{{ 'home.home'|_ }}</a><!-- TODO how to get by file -->
        </li>
        {% for breadcrumb in breadcrumbs %}
            <li class="{{ breadcrumb.isActive ? 'active' : '' }}">
                {% if (breadcrumb.isActive) %}
                {{ breadcrumb.title }}
                {% else %}
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}