[viewBag]
==
<section class="homepage-section most-popular">
    <div class="container wrapper">
        <header class="section-header">
            <h2 class="section-title">{{ 'home.seeMostPopular'|_ }}</h2>
            <div class="homepage-tabs--controls">
                <button data-target="Europe" class="tab-control active">Europe</button>
                <button data-target="North-America" class="tab-control">North America</button>
                <button data-target="South-America" class="tab-control">South America</button>
                <button data-target="Africa" class="tab-control">Africa</button>
                <button data-target="Asia" class="tab-control">Asia</button>
                <button data-target="Australia" class="tab-control">Australia</button>
            </div>
        </header>
        <div class="homepage-tabs--content">
            <div class="tab-page" id="Europe">
                <div class="homepage-circuits columns">
                    <div class="col-6">
                        <div class="circuit-item homepage-circuit">
                            <div class="circuit-item--preview">
                                <img src="{{ 'assets/images/circuit.jpg'|theme }}" alt="">
                            </div>
                            <div class="circuit-item--content">
                                <div class="circuit-item--flag"><img src="{{ 'assets/images/flag-icon.png'|theme }}" alt=""></div>
                                <div class="circuit-item--main">
                                    <div class="circuit-item--title">Bilster Berg</div>
                                    <div class="circuit-item--address">
                                        <i class="mdi mdi-map-marker"></i>
                                        <span>Germany, Bilster Berg Drive Resort GmbH & Co. KG Bilster Berg 1</span>
                                    </div>
                                </div>
                                <div class="circuit-item--footer ai-e">
                                    <div class="circuit-item--map small"><img src="{{ 'assets/images/circuit-map.png'|theme }}" alt=""></div>
                                    <div class="buttons">
                                        <a href="#" class="button alt">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="circuit-item homepage-circuit">
                            <div class="circuit-item--preview">
                                <img src="{{ 'assets/images/circuit.jpg'|theme }}" alt="">
                            </div>
                            <div class="circuit-item--content">
                                <div class="circuit-item--flag"><img src="{{ 'assets/images/flag-icon.png'|theme }}" alt=""></div>
                                <div class="circuit-item--main">
                                    <div class="circuit-item--title">Bilster Berg</div>
                                    <div class="circuit-item--address">
                                        <i class="mdi mdi-map-marker"></i>
                                        <span>Germany, Bilster Berg Drive Resort GmbH & Co. KG Bilster Berg 1</span>
                                    </div>
                                </div>
                                <div class="circuit-item--footer ai-e">
                                    <div class="circuit-item--map small"><img src="{{ 'assets/images/circuit-map.png'|theme }}" alt=""></div>
                                    <div class="buttons">
                                        <a href="#" class="button alt">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="circuit-item homepage-circuit">
                            <div class="circuit-item--preview">
                                <img src="{{ 'assets/images/circuit.jpg'|theme }}" alt="">
                            </div>
                            <div class="circuit-item--content">
                                <div class="circuit-item--flag"><img src="{{ 'assets/images/flag-icon.png'|theme }}" alt=""></div>
                                <div class="circuit-item--main">
                                    <div class="circuit-item--title">Bilster Berg</div>
                                    <div class="circuit-item--address">
                                        <i class="mdi mdi-map-marker"></i>
                                        <span>Germany, Bilster Berg Drive Resort GmbH & Co. KG Bilster Berg 1</span>
                                    </div>
                                </div>
                                <div class="circuit-item--footer ai-e">
                                    <div class="circuit-item--map small"><img src="{{ 'assets/images/circuit-map.png'|theme }}" alt=""></div>
                                    <div class="buttons">
                                        <a href="#" class="button alt">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="circuit-item homepage-circuit">
                            <div class="circuit-item--preview">
                                <img src="{{ 'assets/images/circuit.jpg'|theme }}" alt="">
                            </div>
                            <div class="circuit-item--content">
                                <div class="circuit-item--flag"><img src="{{ 'assets/images/flag-icon.png'|theme }}" alt=""></div>
                                <div class="circuit-item--main">
                                    <div class="circuit-item--title">Bilster Berg</div>
                                    <div class="circuit-item--address">
                                        <i class="mdi mdi-map-marker"></i>
                                        <span>Germany, Bilster Berg Drive Resort GmbH & Co. KG Bilster Berg 1</span>
                                    </div>
                                </div>
                                <div class="circuit-item--footer ai-e">
                                    <div class="circuit-item--map small"><img src="{{ 'assets/images/circuit-map.png'|theme }}" alt=""></div>
                                    <div class="buttons">
                                        <a href="#" class="button alt">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-page" id="North-America">some content</div>
            <div class="tab-page" id="South-America">some content</div>
            <div class="tab-page" id="Africa">some content</div>
            <div class="tab-page" id="Asia">some content</div>
            <div class="tab-page" id="Australia">some content</div>
        </div>
    </div>
</section>