<p class="lead">
    {{ 'user.pleseCheckEmail'|_ }}
</p>

<form
    class="sign-in-form"
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-error="addAlert($(this), jqXHR.responseText);return false;"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
    <div class="form-group">
        <div class="form-control">
            <div class="input-wrapper">
                <label for="resetCode">{{ 'user.activationCode'|_ }}</label>
                <input name="code" type="text" id="resetCode" placeholder="Enter the activation code" value="{{ __SELF__.code }}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-control">
            <div class="input-wrapper">
                <label for="resetPassword">{{ 'user.newPass'|_ }}</label>
                <input name="password" type="password" id="resetPassword" placeholder="Enter a new password">
            </div>
        </div>
    </div>

    <div class="form-footer">
        <button type="submit" class="button solid">{{ 'user.resetPass'|_ }}</button>
    </div>
</form>
