==
<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <title>Angular 8 - JWT Authentication Tutorial & Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <app>Loading...</app>
    <script src="{{ 'assets/dist/runtime-es2015.js'|theme }}" type="module"></script>
    <script src="{{ 'assets/dist/polyfills-es2015.js'|theme }}" type="module"></script>
    <script src="{{ 'assets/dist/runtime-es5.js'|theme }}" nomodule></script>
    <script src="{{ 'assets/dist/polyfills-es5.js'|theme }}" nomodule></script>
    <script src="{{ 'assets/dist/styles-es2015.js'|theme }}" type="module"></script>
    <script src="{{ 'assets/dist/styles-es5.js'|theme }}" nomodule></script>
    <script src="{{ 'assets/dist/vendor-es2015.js'|theme }}" type="module"></script>
    <script src="{{ 'assets/dist/main-es2015.js'|theme }}" type="module"></script>
    <script src="{{ 'assets/dist/vendor-es5.js'|theme }}" nomodule></script>
    <script src="{{ 'assets/dist/main-es5.js'|theme }}" nomodule></script>
</body>
</html>