[staticPage]
useContent = 1
default = 0

[staticBreadcrumbs]

[session]
security = "all"

[SessionClose]
load_js = 1

[mailSignup newsSubscribe]
list = 1

[googleTracker]

[filter]
length = "min"
price = "min"
selectorResult = "#filtered-variants"
search = "fil"
==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="{{ 'assets/images/basic/favicon.ico'|theme }}">
    <!--FAVICON END-->
    <script src="{{ [
        '@jquery',
        ]|theme }}"></script>
    <!--scripts-->
    <script async src="{{ ['assets/dist/bundle.js']|theme }}"></script>
    <!--styles-->
    <link rel="stylesheet" href="{{ ['/assets/dist/bundle.css']|theme }}">
    <title>{{ this.page.title }}</title>
</head>
<body>
    <div id="app-wrapper">
        {% partial "layout/app-header" %}

        <main>
            <section class="page news-list-page">
                <header class="page-header">
                    <div class="container wrapper">
                        {% partial 'layout/staticBreadcrumbs' %}
                        {% partial "page/title" %}
                    </div>
                </header>
                <main class="page-main">
                    <div class="container">
                        {% page %}
                    </div>
                </main>
            </section>
        </main>
        {% component 'googleTracker' %}
        {% set url = this.page.baseFileName %}
        {% component 'SessionClose' %}
        {% partial "layout/app-footer" page=url %}
    </div>
        
<!-- Load Facebook SDK for JavaScript --> 
<div id="fb-root"></div> 
<script> 
  window.fbAsyncInit = function() { 
    FB.init({ 
      xfbml : true, 
      version : 'v3.3' 
    }); 
  }; 

  (function(d, s, id) { 
  var js, fjs = d.getElementsByTagName(s)[0]; 
  if (d.getElementById(id)) return; 
  js = d.createElement(s); js.id = id; 
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs); 
}(document, 'script', 'facebook-jssdk'));</script> 

<!-- Your customer chat code --> 
<div class="fb-customerchat" 
  attribution=setup_tool 
  page_id="200558530029388" 
  theme_color="#e3001b" 
  logged_in_greeting="Hi! How can we help you?" 
  logged_out_greeting="Hi! How can we help you?"> 
</div>
</body>
</html>